In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("./downloaded0.csv")
df.head(50)
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [13]:
df1 = pd.read_csv("./downloaded1.csv")
df1.head(50)
df1 = df1.rename(columns={'COUNTRY': 'Country'})
df1.columns

Index(['Country', 'ISO3', 'WHO_REGION', 'DATA_SOURCE', 'DATE_UPDATED',
       'TOTAL_VACCINATIONS', 'PERSONS_VACCINATED_1PLUS_DOSE',
       'TOTAL_VACCINATIONS_PER100', 'PERSONS_VACCINATED_1PLUS_DOSE_PER100',
       'PERSONS_LAST_DOSE', 'PERSONS_LAST_DOSE_PER100', 'VACCINES_USED',
       'FIRST_VACCINE_DATE', 'NUMBER_VACCINES_TYPES_USED',
       'PERSONS_BOOSTER_ADD_DOSE', 'PERSONS_BOOSTER_ADD_DOSE_PER100'],
      dtype='object')

In [16]:
merged_df = pd.merge(df, df1, on='Country', how='inner')
merged_df.head(20)
merged_df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths', 'ISO3',
       'WHO_REGION', 'DATA_SOURCE', 'DATE_UPDATED', 'TOTAL_VACCINATIONS',
       'PERSONS_VACCINATED_1PLUS_DOSE', 'TOTAL_VACCINATIONS_PER100',
       'PERSONS_VACCINATED_1PLUS_DOSE_PER100', 'PERSONS_LAST_DOSE',
       'PERSONS_LAST_DOSE_PER100', 'VACCINES_USED', 'FIRST_VACCINE_DATE',
       'NUMBER_VACCINES_TYPES_USED', 'PERSONS_BOOSTER_ADD_DOSE',
       'PERSONS_BOOSTER_ADD_DOSE_PER100'],
      dtype='object')

In [25]:
req_columns = ['Country', 'TOTAL_VACCINATIONS', 'Date_reported', 'Country_code',
       'WHO_region', 'Cumulative_cases', 'Cumulative_deaths']

# ['Country', 'TOTAL_VACCINATIONS', 'Date_reported', 'Country_code',
#        'WHO_region', 'New_cases', 'Cumulative_cases', 'New_deaths',
#        'Cumulative_deaths']

In [26]:
final_df = merged_df[req_columns]
final_df.head(20)

,Country,TOTAL_VACCINATIONS,Date_reported,Country_code,WHO_region,Cumulative_cases,Cumulative_deaths
0,Afghanistan,22207574.0,2020-01-03,AF,EMRO,0,0
1,Afghanistan,22207574.0,2020-01-04,AF,EMRO,0,0
2,Afghanistan,22207574.0,2020-01-05,AF,EMRO,0,0
3,Afghanistan,22207574.0,2020-01-06,AF,EMRO,0,0
4,Afghanistan,22207574.0,2020-01-07,AF,EMRO,0,0
5,Afghanistan,22207574.0,2020-01-08,AF,EMRO,0,0
6,Afghanistan,22207574.0,2020-01-09,AF,EMRO,0,0
7,Afghanistan,22207574.0,2020-01-10,AF,EMRO,0,0
8,Afghanistan,22207574.0,2020-01-11,AF,EMRO,0,0
9,Afghanistan,22207574.0,2020-01-12,AF,EMRO,0,0
10,Afghanistan,22207574.0,2020-01-13,AF,EMRO,0,0
11,Afghanistan,22207574.0,2020-01-14,AF,EMRO,0,0
12,Afghanistan,22207574.0,2020-01-15,AF,EMRO,0,0
13,Afghanistan,22207574.0,2020-01-16,AF,EMRO,0,0
14,Afghanistan,22207574.0,2020-01-17,AF,EMRO,0,0
15,Afghanistan,22207574.0,2020-01-18,AF,EMRO,0,0
16,Afghanistan,22207574.0,2020-01-19,AF,EMRO,0,0
17,Afghanistan,22207574.0,2020-01-20,AF,EMRO,0,0
18,Afghanistan,22207574.0,2020-01-21,AF,EMRO,0,0
19,Afghanistan,22207574.0,2020-01-22,AF,EMRO,0,0

In [54]:
max_dates = ['2020-12-31', '2021-12-31', '2022-12-31', '2023-10-25']

filtered_df = final_df[final_df['Date_reported'].isin(max_dates)]
filtered_df

,Country,TOTAL_VACCINATIONS,Date_reported,Country_code,WHO_region,Cumulative_cases,Cumulative_deaths
363,Afghanistan,22207574.0,2020-12-31,AF,EMRO,52330,2189
728,Afghanistan,22207574.0,2021-12-31,AF,EMRO,158059,7356
1093,Afghanistan,22207574.0,2022-12-31,AF,EMRO,207554,7849
1391,Afghanistan,22207574.0,2023-10-25,AF,EMRO,227319,7952
1777,Albania,3088966.0,2020-12-31,AL,EURO,57146,1170
...,...,...,...,...,...,...,...
316713,Zambia,13615707.0,2023-10-25,ZM,AFRO,349287,4069
317099,Zimbabwe,13935112.0,2020-12-31,ZW,AFRO,13625,360
317464,Zimbabwe,13935112.0,2021-12-31,ZW,AFRO,211728,4997
317829,Zimbabwe,13935112.0,2022-12-31,ZW,AFRO,260100,5637
318127,Zimbabwe,13935112.0,2023-10-25,ZW,AFRO,265821,5720

In [71]:
# filtered_df['Date_reported'] = filtered_df['Date_reported'].apply(lambda x: x.replace(year = pd.to_datetime(x)))

filtered_df.loc[:, ['Date_reported']] = filtered_df['Date_reported'].apply(lambda x: pd.to_datetime(x).year)
filtered_df.head(15)
# filtered_df.head(15)
# filtered_df.loc[:, ['Date_reported']] = filtered_df['Date_reported'].apply(lambda x: print(x.year))

,Country,TOTAL_VACCINATIONS,Date_reported,Country_code,WHO_region,Cumulative_cases,Cumulative_deaths
363,Afghanistan,22207574.0,2020,AF,EMRO,52330,2189
728,Afghanistan,22207574.0,2021,AF,EMRO,158059,7356
1093,Afghanistan,22207574.0,2022,AF,EMRO,207554,7849
1391,Afghanistan,22207574.0,2023,AF,EMRO,227319,7952
1777,Albania,3088966.0,2020,AL,EURO,57146,1170
2142,Albania,3088966.0,2021,AL,EURO,208899,3212
2507,Albania,3088966.0,2022,AL,EURO,332768,3596
2805,Albania,3088966.0,2023,AL,EURO,334090,3604
3191,Algeria,15267442.0,2020,DZ,AFRO,99311,2751
3556,Algeria,15267442.0,2021,DZ,AFRO,218037,6271
3921,Algeria,15267442.0,2022,DZ,AFRO,271217,6881
4219,Algeria,15267442.0,2023,DZ,AFRO,271945,6881
4605,American Samoa,114706.0,2020,AS,WPRO,0,0
4970,American Samoa,114706.0,2021,AS,WPRO,11,0
5335,American Samoa,114706.0,2022,AS,WPRO,8285,34

In [73]:
filtered_df.to_csv('transformed_data.csv', index=False)

print("transformed data sucessfully!!!")

tranformed data sucessfully!!!